<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vibrato-2 - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Vibrato-2 - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Vibrato-2 - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Vibrato-2 - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02EEFCA25665ECF510588A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>355529E64A0321B7EA116917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F501E281B9236AD7D20B5EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B200706D8B591545E3A43623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
