<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vibrato-2 - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Vibrato-2 - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Vibrato-2 - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Vibrato-2 - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Vibrato-2 - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C70A1E2E0BCDC4B3E5B5B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19074B42764B91E46E22A660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA8687EE014A07B89B87D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F84B065BF6ADF9FD3FC842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D381E172C964B9E28E7916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
